    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
      <!-- <input type="checkbox" name="" id="toggler" />
      <label for="toggler" class="fas fa-bars"></label> -->

      <a href="#" class="logo">watch<span>.</span></a>
      <nav class="navbar">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#products">products</a>
        <a href="#review">review</a>
        <a href="contact.html">contact</a>
      </nav>

      <div class="icons">
        <a href="./wishlist/wishlist.html" class="fas fa-heart"></a>
        <i class="fas fa-shopping-cart" id="cart-icon"></i>
        <a href="./login-signup/index.html" class="fas fa-user"></a>
      </div>
    </header>
    </body>
    </html>
    
    