* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* border: 1px solid black; */
    width: 990px;
    height: 700px;
    border-radius: 30px;
    background-color: #DCD7C9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    border: 1px solid black;
width: 45%;
height: 90%;
}

.right {
    border: 1px solid black;
    width: 45%;
height: 90%;
border-radius: 25px;
background: rgba(162, 123, 92, 0.31);
}
